.element-container {
  .element {
    position: absolute;
    cursor: move;

    .element-content {
      height: 100%;
      cursor: default;
      user-select: none;
    }
  }

  .rotatable-controls,
  .resizable-controls {
    pointer-events: none;
  }

  .rotatable-controls {
    position: fixed;
  }

  .resizable-controls {
    position: absolute;
  }
}

