.book-options {
  position: absolute;
  width: 100%;
  left: 0;
  top: 94px;
  bottom: 0;
  z-index: 20;
  user-select: none;

  .cover-select-area {
    overflow: hidden;
    position: absolute;
    left: 481px;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    bottom: 0;

    .book-cover {
      .book-page.enabled.cover{
        // background: #f6f6f6 !important;
      }
      .disable-handler{
        z-index:1050;
      }
    }
  }
}
