@import "../../../../common/styles/fonts.scss";
.decoration-tab {
  .list {
    .item {
      @include font-normal();
      width: 25%!important;
      border: none!important;
      background: transparent!important;
      color: #7b7b7b;
      font-size: 13px;

      &.active {
        @include font-medium();
        color: #3a3a3a;
        border-bottom: none;
        background-color: transparent!important;
        span {
          display: inline-block;
          border-bottom: 2px solid #3a3a3a;
        }
      }
    }
  }
  .ReactTabs__TabPanel {
    width: 420px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 145px;
    bottom: 0;
    overflow-y: auto;
    left: 25px;
  }
}
