@import '../../scss/variables';

.Header {
  position: fixed;
  width: 100%;
  min-width: 1100px;
  background: rgb(58, 58, 58);
  height: $Header-height;
  z-index: 1;
  display: table;
}

.Header__logo {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  width: 100px;
  cursor: pointer;
  img {
    height: 15px;
  }
}
