@import "../../../../common/styles/fonts.scss";
@import "../../../../common/styles/common.scss";

.page-nav {
  margin-top: 92px;
  margin-left: 480px;

  @include reset-list();
  .page-nav-wrap {
    position: fixed;
    top: 50px;
    left: 0 ;
    width: 100%;
    text-align:center;
    z-index:1;
    user-select: none;
  }

  .hide {
    display: none;
  }

  .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    top: 92px;
    background-color: #d6d6d6;
  }

  .list {
    overflow: hidden;
    margin: 0;
    padding:0;
    display:inline-block;

    .item {
      float: left;
      height: 44px;
      line-height: 44px;
      margin-left: 90px;
      &:nth-child(1) {
        margin-left: 0;
      }
      a{
        display: block;
        position: relative;
        &.active{
          @include font-medium();
          &:after{
            z-index: 2;
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            background: #3a3a3a;
            content: '';
          }
        }
      }
    }
  }

  .content {
    clear: both;
    padding: 15px;
  }
}


// @media screen and (max-width: 1024px) {
//   .page-nav {
//     .list {
//       margin-left: -475px;
//     }
//   }
// }
