.panel{
  .glyphicon{
    margin-right: 2px;
  }
  .radio-block {
  	margin: 10px 10px;
  }
  .button-block {
  	// margin: 20px 0 0;
    .btn{
      margin-right: 8px;
    }
  }
  .panel-body > div {
    display: none;
    &.button-block {
      display: block;
    }
  }
}
